<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    
   
    <% if(userId) { %>
        <form class="form-inline" action="/logout" method="POST">
        <p class="text-left">Logged in: <%= email %>   </p>
        <button type="submit" class="btn btn-warning">Logout</button>
        </form>
      <% } else { %>
        <table>
          <tr>
            <td></td>
            <td><p class="text-center">Register here!</p></td>
            <td></td>
            <td></td>
            <td><p class="text-center">Sign in here!</p></td>
            <td></td>
          </tr>
          <tr>
          <div class="form-group"></div>
          <form class="form-inline" action="/register" method="POST">
            <td><input class="form-control" type="email" name="email" placeholder="your@email.here" style="Width: 100px"></td>
            <td><input class="form-control" type="password" name="password" placeholder="*****" style="width: 80px"></td>
            <td><button type="submit" class="btn btn-secondary">Register</button></td>
          </form>
          <form class="form-inline" action="/login" method="POST">
            <td><input class="form-control" type="email" name="email" placeholder="your@email.here" style="width: 100px; margin: 10px"></td>
            <td><input class="form-control" type="password" name="password" placeholder="*****" style="width: 80px; margin: 10px"></td>
            <td><button type="submit" class="btn btn-secondary">Login</button></td>
          </form>
          </div>
          </tr>
        </table>


        <% } %>
      </nav>
</header>
